#img1{
  width: 100%;
  height:500px;
}
#img2{
  width:100%;
  height:400px;
  box-shadow: 0 0 20px 8px grey;
  border-radius: 10px;
}
.row{
  padding:20px;
}
#head1{
  color:Red;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  padding:5px;
  
}
#p1,#p2{
  font-size: 20px;
}
.head2{
  font-family: 'Bebas Neue', cursive;
}
#mhead{
  font-family: 'Bebas Neue', cursive;
  font-size: 200px;
  color: #ff3700;
}
#item img{
  width:100%;
}
#Himg1,#Himg2,#Himg3,#Himg4{
  width: auto;
  height:500px;
}
h3{
  color:white;
  text-shadow: 2px 2px black;
}
.form{
  align-items: center;
  padding:20px;
  margin:0 auto;
  box-shadow:0 0 16px 10px grey;
  width: 50%;
  margin-top: 10%;
}
.sform{
  align-items: center;
}
td{
  color:black;
}
Link{
  color:white;
}